# MQTT Configuration
MQTT_HOST = '127.0.0.1'
MQTT_PORT = 1883
MQTT_TOPIC = 'adunn/sensor/light/#'

# MySQL Configuration
MYSQL_HOST = '127.0.0.1'
MYSQL_PORT = 3306
MYSQL_DB = 'crop_lighting'

MYSQL_USER = 'root'
MYSQL_PASSWORD = 'REPLACE_WITH_YOUR_PASSWORD'

TABLE = 'light_readings'